---
- name: Deploy SmartOps
  hosts: all
  become: yes
  tasks:
    - name: Download JAR
      get_url:
        url: "http://34.133.9.25:8081/repository/java-webapp-releases/com/smartops/smartops-api/{{ app_version }}/smartops-api-{{ app_version }}.jar"
        dest: /opt/smartops-api.jar
        url_username: admin
        url_password: "{{ nexus_pwd }}"
    - name: Restart Systemd Service
      copy:
        dest: /etc/systemd/system/smartops.service
        content: |
          [Service]
          ExecStart=/usr/bin/java -jar /opt/smartops-api.jar
          Restart=always
      notify: restart_smartops
  handlers:
    - name: restart_smartops
      systemd: { name: smartops, state: restarted, daemon_reload: yes, enabled: yes }
